In [94]:
import pandas as pd
import numpy as np

In [80]:

df = pd.DataFrame({'tour': np.repeat(np.arange(1,11), 30),
                   'experience': np.random.normal(loc=7, scale=1, size=300)})

# We use np.random to choose from an array(numpy). But we use x.sample(2) to choose from a pandas data frame
clusters = np.random.choice(np.arange(1,11) , size = 4)

cluster_sample = df[df['tour'].isin(clusters)]

cluster_sample['tour'].value_counts()

1    30
7    30
8    30
9    30
Name: tour, dtype: int64

In [99]:
tour_data  = pd.DataFrame({ 'tour_id': np.repeat(np.arange(0,6) , 10) ,
                            'Ratings' : np.random.random_integers(0,10, size = 60)})

print("Mean of ratings are ", tour_data.Ratings.mean())
tour_data.head(10)

Mean of ratings are  5.233333333333333

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10720\1274093501.py:2: DeprecationWarning: This function is deprecated. Please call randint(0, 10 + 1) instead
  'Ratings' : np.random.random_integers(0,10, size = 60)})

   tour_id  Ratings
0        0        3
1        0        8
2        0        8
3        0        7
4        0        0
5        0        3
6        0        8
7        0        7
8        0        7
9        0       10

In [100]:
np.repeat([1,2,3] ,3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [113]:

df = pd.DataFrame({'tour': np.repeat(np.arange(1,11), 30),
                   'experience': np.random.normal(loc=7, scale=1, size=300)})

# We use np.random to choose from an array(numpy). But we use x.sample(2) to choose from a pandas data frame


clusters = np.random.choice(df.tour.unique(), size = 4)



cluster_sample = df[df['tour'].isin(clusters)]

cluster_sample.tour.value_counts()

2    30
5    30
6    30
9    30
Name: tour, dtype: int64

In [145]:
data  = pd.read_csv("C:/Users/Lenovo/Desktop/startup_funding.csv")

data.iloc[ : : 5]

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
5,6,13/01/2020,Pando,Logistics,"Open-market, freight management platform",Chennai,Chiratae Ventures,Series A,"90,00,000",NaN
10,11,13/12/2019,Rivigo,Technology,Logistics Services and Solutions,Gurgaon,"SAIF Partners, Spring Canter Investment Ltd.",Series F,"2,00,00,000",NaN
15,16,11/12/2019,Rein Games,Gaming,Real money based gaming startup,Noida,Manipal Education and Medical Group (MEMG),Seed Round,"5,00,00,000",NaN
20,21,17/11/2019,Burger Singh,Food and Beverage,Indian Burger Brand,Gurgaon,RB Investments,Venture,undisclosed,NaN
...,...,...,...,...,...,...,...,...,...,...
3020,3021,19/01/2015,Enabli,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
3025,3026,21/01/2015,Simplilearn,NaN,NaN,NaN,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity,"1,47,50,000",NaN
3030,3031,22/01/2015,Freshmonk,NaN,NaN,NaN,"August Capital Partners, Michael Blakey",Seed Funding,NaN,NaN
3035,3036,24/01/2015,Impartus,NaN,NaN,NaN,Kaizen Private Equity,Private Equity,NaN,Series A
3040,3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000",Govt backed VC Fund